#logoIMG {
  margin-bottom: 25px;
}

#menuWrapper{
  text-align: center;
  padding-top: 120px; 
  width: 100%;
  height: 100vh;
  background: url("../img/background_mainmenu.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#menuDiv{
  display: inline-block;
}

#levelHeading{
  font-weight: bold;
  color:white;
  margin-bottom: 25px;
}

#deathScreen{
  text-align: center;
  padding-top: 150px; 
  width: 100%;
  height: 100vh;
  background: url("../img/fail_bc.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#succsessScreen{
  text-align: center;
  padding-top: 150px; 
  width: 100%;
  height: 100vh;
  background: url("../img/success_screen.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#landscapingWork{
  text-align: center;
  padding-top: 150px; 
  width: 100%;
  height: 100vh;
  background: url("../img/grassLevel.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mathMenu{
  text-align: center;
  padding-top: 120px; 
  width: 100%;
  height: 100vh;
  background: url("../img/blur_math.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#compMenu{
  text-align: center;
  padding-top: 120px; 
  width: 100%;
  height: 100vh;
  background: url("../img/blur_cs.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#philMenu{
  text-align: center;
  padding-top: 120px; 
  width: 100%;
  height: 100vh;
  background: url("../img/blur_phil.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#physMenu{
  text-align: center;
  padding-top: 120px; 
  width: 100%;
  height: 100vh;
  background: url("../img/blur_phy.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button1{
  width: 40%;
  margin: 15px 10px 0px 10px;
  display:inline-block;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.53);
  background-color: #FFFFFF;
  transition: all .5s ease-in-out;
}

.button1:hover { transform: scale(1.05); }

.button2{
  width: 80%;
  margin: 15px 10px 0px 10px;
  /*display:block;*/
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.53);
  background-color: #FFFFFF;
  transition: all .5s ease-in-out;
}

.button2:hover { transform: scale(1.05); }

.button3{
  width: 40%;
  margin: 30px 10px 0px 10px;
  display:block;
  padding-top: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.53);
  background-color: #FFFFFF;
  transition: all .5s ease-in-out;
  margin-right: auto;
  margin-left: auto;
}

.button3:hover { transform: scale(1.05); }